<div class="col-12 col-md-6 col-lg-4 mb-4">
    <a href="{{ path('akce_url', { url: ak.url }) }}" class="text-decoration-none text-dark">
        <div class="card h-100 shadow-sm">


            <div class="position-relative">
                {% if ak.fotos|length > 0 %}
                    <img src="{{ asset(ak.fotos|first.soubor) |imagine_filter('ak_thumb') }}"
                         class="card-img-top"
                         alt="{{ ak.titulek }}">
                {% endif %}

                <span class="akce-datum">
                    {{ ak.datum|date('j. n. Y') }}
                    {% if ak.datumDo %} - {{ ak.datumDo|date('j. n. Y') }}{% endif %}
                </span>
            </div>

            <div class="card-body d-flex flex-column">

                <h5 class="card-title {% if ak.fotos|length > 0 %}mt-2{% else %}mt-4 pt-2{% endif %}">{{ ak.titulek }}</h5>

                {% if ak.perex %}
                    <p class="card-text text-muted small">
                        {{ ak.perex|raw }}
                    </p>
                {% endif %}

                <div class="mt-auto mb-3">
                    {% for stitek in ak.stitkies %}
                        <span class="badge bg-primary rounded-0 me-1">{{ stitek }}</span>
                    {% endfor %}
                </div>


            </div>
        </div>
    </a>
</div>
