{% extends 'base.html.twig' %}
{% if akce.fotos|length > 0 %}
    {% set firstFoto = akce.fotos|first %}
{% else %}
    {% set firstFoto = false %}
{% endif %}

{% block title %}Akce - {{ akce.titulek }}{% endblock %}
{% block meta %}
    <meta property="og:title" content="Jan Bula a Václav Drbola - {{ akce.titulek }}">
    <meta property="og:description" content="{{ akce.perex|striptags|trim }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ app.request.uri }}">
    {% if akce.fotos|length > 1 %}
    <meta property="og:image" content="{{ firstFoto.soubor | imagine_filter('ak_full_thumb') }}">
    {% endif %}
    <meta property="og:image:alt" content="{{ akce.titulek }}">
{% endblock %}

{% block body %}
        <div class="row justify-content-center">
            <div class="col-lg-11 col-12">
                <div class="row justify-content-center text-center">
                    <div class="col-xl-6 col-lg-9 col-10 p-3">
                        <h2 class="text-primary fw-bolder text-uppercase">{{ akce.titulek }}</h2>
                    </div>
                </div>
                {% block date %}
                    <div class="row justify-content-center mt-2">
                        <div class="col-xl-6 col-lg-9 col-10 text-justify-left">
                            <div class="date-badge py-2 px-3 text-white fw-semibold bg-primary d-inline-block">
                                {{ akce.datum|date('j. n.') }}{% if akce.datumDo %} – {{ akce.datumDo|date('j. n.') }}{% endif %}

                            </div>
                        </div>
                    </div>
                {% endblock %}

                {% if firstFoto %}


                    <div class="row justify-content-center mt-4">
                        <div class="col-xl-6 col-lg-9 col-10 text-center">
                            <a href="{{ asset(firstFoto.soubor) }}" class="glightbox" data-gallery="akce" data-title="{{ firstFoto.nazev }}">
                                <img class="w-75"
                                     src="{{ firstFoto.soubor | imagine_filter('ak_full_thumb') }}"
                                     alt="{{ akce.titulek }}">
                            </a>
                        </div>
                    </div>
                {% endif %}


                {% if akce.Perex %}
                    <div class="row justify-content-center mt-5">
                        <div class="col-xl-6 col-lg-9 col-10 text-justify-left">
                            <strong>{{ akce.perex|raw }}</strong>
                        </div>
                    </div>
                {% endif %}
                <div class="row justify-content-center mt-4">
                    <div class="col-xl-6 col-lg-9 col-10 text-justify-left">
                        {{ akce.obsah|raw }}
                    </div>
                </div>
                {% if akce.fotos|length > 1 %}
                    <div class="row justify-content-center mt-4">
                        <div class="col-xl-6 col-lg-9 col-10">
                            <div class="gallery-grid">
                                {% for foto in akce.fotos|slice(1) %}
                                    <a href="{{ asset(foto.soubor) }}"
                                       class="glightbox"
                                       data-gallery="akce"
                                       data-title="{{ foto.nazev }}">

                                        <img src="{{ foto.soubor | imagine_filter('ak_fotogallery_thumb') }}"
                                             class="img-fluid">
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}


                {% if akce.video %}
                    <div class ="row justify-content-center mt-4">
                        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-10 pt-sm-0 pt-2">
                            <div class="ratio ratio-16x9">
                                <iframe class = "rounded" src="https://www.youtube.com/embed/{{ akce.video }}" title="{{ akce.titulek }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if akce.obsahPokracovani %}
                    <div class="row justify-content-center mt-4">
                        <div class="col-xl-6 col-lg-9 col-10 text-justify-left">
                            {{ akce.obsahPokracovani|raw }}
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('fotogalerie') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('fotogalerie_js') }}
{% endblock %}
