{% extends 'base.html.twig' %}
{% if akce.fotos|length > 0 %}
    {% set firstFoto = akce.fotos|first %}
{% else %}
    {% set firstFoto = false %}
{% endif %}

{% block title %}Akce - {{ akce.titulek }}{% endblock %}
{% block meta %}
    <meta property="og:title" content="Jan Bula a Václav Drbola - {{ akce.titulek }}">
    <meta property="og:description" content="{% block content_description %}{{ akce.perex|striptags|trim }}{% endblock %}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ app.request.uri }}">
    {% if akce.fotos|length > 1 %}
    <meta property="og:image" content="{{ firstFoto.soubor | imagine_filter('ak_full_thumb') }}">
    {% endif %}
    <meta property="og:image:alt" content="{{ akce.titulek }}">
{% endblock %}

{% block body %}

    {% if akce.isZobrazitTitulek is not defined or akce.isZobrazitTitulek %}
    <div class="row justify-content-center text-center">
        <div class="col-12">
            <h2 class="text-primary fw-bolder text-uppercase">{{ akce.titulek }}</h2>
        </div>
    </div>
    {% endif %}

    {% block date %}
        <div class="row justify-content-center mt-2">
            <div class="col-lg-8 col-12 text-justify-left">
                <div class="date-badge py-2 px-3 text-white fw-semibold bg-primary d-inline-block">
                    {{ akce.datum|date('j. n. Y') }}{% if akce.datumDo %} – {{ akce.datumDo|date('j. n. Y') }}{% endif %}

                </div>
            </div>
        </div>
    {% endblock %}


    {% if firstFoto %}


        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 col-12 text-center">
                <a href="{{ asset(firstFoto.soubor) }}" class="glightbox" data-gallery="akce" data-title="{{ firstFoto.nazev }}">
                    <img class="w-100 rounded-1"
                         src="{{ firstFoto.soubor | imagine_filter('ak_full_thumb') }}"
                         alt="{{ akce.titulek }}">
                </a>
            </div>
        </div>
    {% endif %}

    {% block perex %}
        {% if akce.Perex %}
            <div class="row justify-content-center mt-5">
                <div class="col-lg-8 col-12 text-justify-left">
                    <strong>{{ akce.perex|raw }}</strong>
                </div>
            </div>
        {% endif %}
    {% endblock %}
    <div class="row justify-content-center mt-4">
        <div class="col-lg-8 col-12 text-justify-left">
            {{ akce.obsah|raw }}
        </div>
    </div>
    {% if akce.fotos|length > 1 %}
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 col-12">
                <div class="gallery-grid">
                    {% for foto in akce.fotos|slice(1) %}
                        <a href="{{ asset(foto.soubor) }}"
                           class="glightbox"
                           data-gallery="akce"
                           data-title="{{ foto.nazev }}">

                            <img src="{{ foto.soubor | imagine_filter('ak_fotogallery_thumb') }}"
                                 class="img-fluid">
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}


    {% if akce.video %}
        {% set videos = akce.video|split(';') %}

        <div class="row justify-content-center my-4">
            {% for video in videos %}
                {% set videoId = video|trim %}

                {% if videoId %}
                    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-10 my-2">
                        <div class="ratio ratio-16x9">
                            <iframe
                                class="rounded"
                                src="https://www.youtube.com/embed/{{ videoId }}"
                                title="{{ akce.titulek }}"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin"
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% if akce.obsahPokracovani %}
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 col-12 text-justify-left">
                {{ akce.obsahPokracovani|raw }}
            </div>
        </div>
    {% endif %}
    {% if akce.prilohies is defined  %}
        <div class="row justify-content-center mt-4">
            {% for priloha in akce.prilohies %}
            <div class="col-lg-8 col-12 text-justify-left">

                    {% set ext = priloha.Soubor|split('.')|last%}
                    <img src="{{ path('icon_svg', {type:ext}) }}" height="60px"><a href="{{ asset(priloha.Soubor) }}" download="{{priloha.Nazev}}.{{ ext }}">{{priloha.Nazev}}</a>

            </div>
            {% endfor %}
        </div>
    {% endif %}


{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('fotogalerie') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('fotogalerie_js') }}
{% endblock %}
