{% extends 'base.html.twig' %}

{% block title %}{% if not probehle %}Akce{% else %}Archiv akcí{% endif %}{% endblock %}

{% block body %}
    <div class="row justify-content-center mt-2">
        <div class="col-12 text-center">
            <h2 class="text-primary fw-bolder text-uppercase">{% if not probehle %}Akce{% else %}Archiv akcí{% endif %}</h2>
        </div>
    </div>
    {% if stitky is not empty %}
        <div class="row justify-content-center mt-3 mb-2">
            <div class="col-12">
                <div class="d-flex flex-wrap gap-1 justify-content-start">
                    {% if aktivniStitek %}
                        <a href="{% if not mesicni %}{% if probehle %}{{ path('app_archiv_akci') }}{% else %}{{ path('app_akce') }}{% endif %}{% else %}{{ path('app_archiv_akci_mesic', {rok: rok, mesic:mesic}) }}{% endif %}"
                           class="btn btn-sm btn-secondary rounded-0 px-4 border-2 mb-2 mx-1">
                            Bez výběru štítku
                        </a>
                    {% endif %}
                    {% for stitek in stitky %}
                        <a href="{% if not mesicni %}{% if probehle %}{{ path('app_archiv_akci', {stitek: stitek.url}) }}{% else %}{{ path('app_akce', {stitek: stitek.url}) }}{% endif %}{% else %}{{ path('app_archiv_akci_mesic', {rok: rok, mesic:mesic,stitek: stitek.url}) }}{% endif %}"
                           class="btn btn-sm {% if aktivniStitek and aktivniStitek.id == stitek.id %}btn-primary{% else %}btn-outline-primary{% endif %} rounded-0 px-4 border-2 mb-2 mx-1">
                            {{ stitek }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}


    <div id="data-wrapper" class="row mt-3">

        {% for ak in akce %}
            {% include 'akce/_akce.html.twig' with { ak: ak } %}
        {% else %}
            <div class="col-12 text-center py-5">
                <p class="text-muted">Žádné akce nebyly nalezeny.</p>
            </div>
        {% endfor %}
    </div>
    {% if (hasMore) %}
        <div class="text-center mt-4">
            <button id="load-more"
                    class="btn btn-primary"
                    data-url="{% if not mesicni %}{% if not probehle %}{{ path('app_akce_load_more', { stitek: aktivniStitek ? aktivniStitek.url : '' }) }}{% else %}{{ path('app_archiv_akci_load_more', { stitek: aktivniStitek ? aktivniStitek.url : '' }) }}{% endif %}{% else %}{{ path('app_archiv_akci_load_more_mesic', { mesic: mesic, rok: rok, stitek: aktivniStitek ? aktivniStitek.url : '' }) }}{% endif %}"
                    data-offset="{{ limit }}"
                    data-limit="{{ limit }}">
                Načíst další
            </button>
        </div>
    {% endif %}
    {% if probehle %}
    <div class="row mt-5">
        {% for rok, mesice in archive %}
            {% if rok != 0 %}
            <div class="col-xxl-1 col-lg-2 col-4">
                <h3 class="text-primary">{{ rok }}</h3>

                <ul class="list-unstyled">
                    {% for cislo, mesic in mesice %}

                        <li>
                            <a href="{{ path('app_archiv_akci_mesic', {
                                rok: rok,
                                mesic: cislo
                            }) }}"
                               class="text-decoration-none link-dark">
                                {{ mesic }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}







{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('load-more_js') }}
{% endblock %}
