{# templates/admin/form/dropzone_theme.html.twig #}

{% block dropzone_widget %}
    {% set entity = attr['data-entity'] ?? null %}
    {% set entity_id = attr['data-entity-id'] ?? null %}
    {% set data_type = attr['data-type'] ?? null %}
    {% set upload_url = attr['data-upload-url'] ?? 'admin_upload_foto_upload' %}
    {% set remove_url = attr['data-remove-url'] ?? 'admin_upload_foto_remove' %}
    {% set rename_url = attr['data-rename-url'] ?? 'admin_upload_foto_rename' %}
    {% set reorder_url = attr['data-reorder-url'] ?? 'admin_upload_foto_reorder' %}
    {% set list_url = attr['data-list-url'] ?? 'admin_upload_foto_list' %}

    {% if entity and entity_id %}
        <div
            class="dropzone"
            data-upload-url="{{ path(upload_url, { entity: entity, id: entity_id }) }}"
            data-remove-url="{{ path(remove_url, { id: 0 })|replace({'0': ''}) }}"
            data-rename-url="{{ path(rename_url, { id: 0 })|replace({'0': ''}) }}"
            data-list-url="{{ path(list_url, { entity:0, id: 0 })|replace({'0/0': ''}) }}"
            data-reorder-url="{{ path(reorder_url)}}"
            data-entity="{{ entity }}"
            data-entity-id="{{ entity_id }}"
            data-type="{{ data_type }}"
        ></div>
    {% else %}
        <div class="alert alert-info">
            Nejprve uložte záznam, pak lze nahrávat obrázky.
        </div>
    {% endif %}
{% endblock %}
