<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Petrinum{% endblock %}</title>
    {% block meta %}
    {% endblock %}
    {% block stylesheets %}
    {# Webpack Encore CSS #}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">

<div class="hero-wrapper">
    <img src="{{ asset('images/budova.jpg') }}" class="budova">
</div>
<div class="sticky-top">
<header class="navbar-wrapper">

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container align-items-end custom-container">

            <a class="navbar-brand fw-bold d-flex align-items-center" href="{{ path('app_main') }}">

                <img src="{{ asset('images/logo.svg') }}" alt="Logo" class="navbar-logo me-2 mb-3 mt-3">

                <div class="d-flex flex-column lh-sm ms-3 mb-3">
                    <span class="text-lowercase fs-5">Církevní domov mládeže</span>
                    <span class="text-lowercase fw-bold fs-1">Petrinum</span>
                </div>

            </a>

            <button class="navbar-toggler custom-toggler collapsed ms-auto mb-lg-0 mb-3 custom-navbar" type="button"
                    data-bs-toggle="collapse" data-bs-target="#mainNavbar">
                <span class="toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse align-items-end custom-navbar" id="mainNavbar">
                {{ render(controller('App\\Controller\\MenuController::menu')) }}


            </div>

        </div>
        </nav>

    </header>
</div>
</div>


{# ====================== OBSAH ====================== #}

<main class="flex-grow-1 py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11 col-12">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</main>

{# ====================== PATIČKA ====================== #}
<div class="footer-wrapper">
    <footer class="py-2 mt-auto">
        <div class="container text-center text-white small py-3">
            © {{ "now"|date("Y") }} Petrinum
        </div>
    </footer>
</div>


{% block javascripts %}
{# Webpack Encore JS #}
{{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
