{# templates/menu/menu.html.twig #}

<ul class="navbar-nav ms-auto align-items-end">
    <li class="nav-item position-relative">
        <button
            type="button"
            id="search-toggle"
            class="btn btn-link text-white">
            <i class="bi bi-search fs-4"></i>
        </button>

        <div id="search-box" class="d-none position-absolute mt-1 custom-navbar">
            <input maxlength="100" type="text" id="search" class="form-control search-input" placeholder="Hledat...">

            <ul id="suggestions" class="list-group mt-1 search-suggestions"></ul>
        </div>
    </li>
    {% for item in menu %}
        {{ _self.render_item(item) }}
    {% endfor %}
</ul>
{% macro get_url(item) %}
    {% if item.Clanky and item.Clanky.url %}
        {{ path('clanky_url', { url: item.Clanky.url }) }}
    {% elseif item.routeName %}
        {{ path(item.routeName) }}
    {% else %}
        #
    {% endif %}
{% endmacro %}

{% macro render_item(item) %}
    {% if item.children|length > 0 %}
        <li class="nav-item dropdown">
            <a class="nav-link nav-link-fancy text-end fs-5 fw-bold text-white dropdown-toggle"
               href="#"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
                {{ item.nazev }}
            </a>

            <ul class="dropdown-menu">
                {% for child in item.children %}
                    {{ _self.render_dropdown_item(child) }}
                {% endfor %}
            </ul>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link nav-link-fancy fs-5 fw-bold text-white"
               href="{{ _self.get_url(item) }}">
                {{ item.nazev }}
            </a>
        </li>
    {% endif %}
{% endmacro %}


{% macro render_dropdown_item(item) %}
    {% if item.children|length > 0 %}
        {# Bootstrap neumí dobře nested dropdown → basic fallback #}
        <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">
                {{ item.nazev }}
            </a>

            <ul class="dropdown-menu">
                {% for child in item.children %}
                    {{ _self.render_dropdown_item(child) }}
                {% endfor %}
            </ul>
        </li>
    {% else %}
        {% set url = '#' %}

        {% if item.Clanky %}
            {% set url = path('clanky_url', { url: item.Clanky.url }) %}
        {% elseif item.routeName %}
            {% set url = path(item.routeName) %}
        {% endif %}
        <li>
            <a class="dropdown-item"
               href="{{ _self.get_url(item) }}">
                {{ item.nazev }}
            </a>
        </li>
    {% endif %}
{% endmacro %}
