{# templates/menu/menu.html.twig #}

<ul class="navbar-nav ms-auto align-items-end">
    {% for item in menu %}
        {{ _self.render_item(item) }}
    {% endfor %}
</ul>
{% macro get_url(item) %}
    {% if item.Clanky and item.Clanky.url %}
        {{ path('clanky_url', { url: item.Clanky.url }) }}
    {% elseif item.routeName %}
        {{ path(item.routeName) }}
    {% else %}
        #
    {% endif %}
{% endmacro %}

{% macro render_item(item) %}
    {% if item.children|length > 0 %}
        <li class="nav-item dropdown">
            <a class="nav-link nav-link-fancy fs-5 fw-bold text-white dropdown-toggle"
               href="#"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
                {{ item.nazev }}
            </a>

            <ul class="dropdown-menu">
                {% for child in item.children %}
                    {{ _self.render_dropdown_item(child) }}
                {% endfor %}
            </ul>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link nav-link-fancy fs-5 fw-bold text-white"
               href="{{ _self.get_url(item) }}">
                {{ item.nazev }}
            </a>
        </li>
    {% endif %}
{% endmacro %}


{% macro render_dropdown_item(item) %}
    {% if item.children|length > 0 %}
        {# Bootstrap neumí dobře nested dropdown → basic fallback #}
        <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">
                {{ item.nazev }}
            </a>

            <ul class="dropdown-menu">
                {% for child in item.children %}
                    {{ _self.render_dropdown_item(child) }}
                {% endfor %}
            </ul>
        </li>
    {% else %}
        {% set url = '#' %}

        {% if item.Clanky %}
            {% set url = path('clanky_url', { url: item.Clanky.url }) %}
        {% elseif item.routeName %}
            {% set url = path(item.routeName) %}
        {% endif %}
        <li>
            <a class="dropdown-item"
               href="{{ _self.get_url(item) }}">
                {{ item.nazev }}
            </a>
        </li>
    {% endif %}
{% endmacro %}
